body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.success-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background-color: #2f72c0;
    color: white;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 10;
    width: 95%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 50px;
}

main {
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.veiculos-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.veiculo-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.veiculo-item div {
    margin-top: 5px;
    color: #6c757d;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    color: #333;
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgb(0, 162, 255);
    outline: none;
}

input[type="submit"] {
    background-color: #2f72c0;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #2f72c0;
}

button {
    background-color: #2f72c0;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #2f72c0;
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #f4f4f4;
}

/* Estilo do link */
.link-colab {
    color: #2f72c0;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

/* Hover substituindo onmouseover/onmouseout */
.link-colab:hover {
    color: #2f72c0;
}
